
/* main index*/

/* section 1 */

/* поза курсами */

main .resolution
{
    background-image: url("../image/background.png");
    height: initial;
}

main .resolution
{
    position: relative;
}

main .resolution::after
{
    content: '';
    background-color: #2F303A;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

main .resolution .container
{
    z-index: 1;
    position: relative;
}

main .resolution h1
{
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    max-width: 700px;
    margin-bottom: 30px;
}

main .resolution button
{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
    cursor: pointer;
}

main .resolution .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

/* section 2 */

/* поза курсами */

main .info .container div
{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    align-content: center;
    text-align: center;
}

main .info h5
{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

main .info p
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
}

main .info ul
{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 94px 0;
}

main .info li
{
    width: 270px;
}

/* section 3 */

main .what-we-do h2
{
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

main .what-we-do .container
{
    display: flex;
    flex-direction: column;
}

main .what-we-do ul
{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
}

/* section 4 */

main #our-team
{
    background-color: #F5F4FA;
    height: 648px;
}

main #our-team h2
{
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

main #our-team h5
{
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 30px 0 10px;
}

main #our-team h6
{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    padding-bottom: 30px;
}

main #our-team .container
{
    padding: 94px 15px;
}

main #our-team ul
{
    display: flex;
    gap: 30px;
    justify-content: center;
}

main #our-team li
{
    background-color: #FFFFFF;
}