@mixin typography($font-size, $font-weight, $line-height, $letter-spacing)
{
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

$light-blue: #2196f3;


*{
    font-family: 'Roboto';
    color: #212121;
}

.container
{
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
}

a
{
    text-decoration: none;
    color: inherit;
}