body {
    
    font-family: var(--font-family-base);
    color: var(--color-black);
    background-color: var(--color-white);
}

* {

    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
}

a, button, input, textarea, svg * {

    transition-duration: var(--transition-duration);
}