.resolution {

    height: 600px;
    background-image: url(../../image/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;

    @include tablet {

        height: 400px;
    }

    @include mobile {

        height: 480px;
    }

    &::after {

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(47, 48, 58, 0.4);
    }

    &__inner {

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    &__main-title {

        @include typography (44px, 60px, var(--color-white));
        font-weight: 900;
        text-transform: uppercase;
        max-width: 700px;
        letter-spacing: 2px;
        text-align: center;

        @include tablet {

            @include typography (26px, 42px, var(--color-white));
            max-width: 360px;
        }
    }

    &__button {

        @include typography (16px, 30px, var(--color-white));
        padding: 10px 32px;
        letter-spacing: 2px;    
        background-color: var(--color-blue);
        border-radius: var(--border-radius);
        font-weight: 500;

        @include tablet {

            padding: 10px 24px;
        }
    }
}